#!/usr/bin/env sh

set -o errexit

cyan="\033[0;96m"
white="\033[0;97m"
endc="\033[0m"

msg() {
  echo "$cyan--------------------------------------------------$endc"
  echo "$cyan-->$white $1 $endc"
  echo ""
}

bye() {
  echo ""
  echo "$cyan-->$white End for $0 $endc"
  echo "$cyan--------------------------------------------------$endc"
}

msg "Execute $0..."

{{ if eq .chezmoi.osRelease.id "arch" }}

  . {{ .chezmoi.sourceDir }}/scripts/archlinux.sh $args

{{ else if eq .chezmoi.osRelease.id "debian" }}

  sh {{ .chezmoi.sourceDir }}/scripts/debian.sh $args

{{ else if eq .chezmoi.osRelease.id "ubuntu" }}

  sh {{ .chezmoi.sourceDir }}/scripts/debian.sh $args

{{ end -}}

trap bye EXIT

{{ end }}
