[scriptEnv]
    # Set VaultWarden session key
    BW_SESSION="o/NHOXJkTz2v8YVgyMqp66ujEY/oZ44+eviHiTirhac6IRc2wvn+HOr9O4S3iQSzQyMuc4teywgqopipxZCXJw=="

encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "volume-wild-edit-curious-fresh-cricket-lend-face-south-fee"
