{{- $personal := false -}}
{{- $key_sign  := "" -}}

{{- $username := promptStringOnce . "username" "Username" -}}
{{- $email := promptStringOnce . "email" "Email" -}}
{{- $hasGUI := promptBoolOnce . "hasGUI" "Use a GUI" -}}

{{- if eq $username "rootiest" -}}
{{- $personal = true -}}
{{- $gpg_recipient := "22AC9FB6A53826DF0C1A76D8928B182425A3D6FF" -}}
{{- $gpg_sign := "22AC9FB6A53826DF0C1A76D8928B182425A3D6FF" -}}
{{- $gpg_encrypt := "22AC9FB6A53826DF0C1A76D8928B182425A3D6FF" -}}
{{- $key_sign = "623CE33E5CF323D5" -}}
{{- end -}}

{{- if $personal }}
encryption = "age"
[age]
    identity = "~/.config/rootiest/age/key.txt"
    recipient = "age1t2zvkztt5xkf6mua0mnywravlkk2h5xjrtnzyxxxn263dcx8u99qpt5ja5"
{{ end -}}
[data]
  name = {{ $username | quote }}
  email = {{ $email | quote }}
  personal = {{ $personal }}
  hasgui = {{ $hasGUI }}
  editor = "nvim"

