{{- $personal := false -}}
{{- $full_name := "" -}}
{{- $email := "" -}}
{{- $bw_session := "" -}}
{{- $gh_token  := "" -}}
{{- $gg_token  := "" -}}
{{- $openai_key  := "" -}}
{{- $gpg_recipient  := "" -}}
{{- $gpg_sign  := "" -}}
{{- $gpg_encrypt  := "" -}}
{{- $key_sign  := "" -}}
{{- $hasGUI  := false -}}

{{- $username := promptStringOnce . "username" "Username" -}}

{{- if eq $username "rootiest" -}}
  {{- $personal = true -}}
  {{- $hasGUI = promptBoolOnce . "hasGUI" "Use GUI y/n" -}}
  {{- $email = (bitwarden "item" "CHEZMOI_GITHUB_EMAIL").login.username -}}
  {{- $full_name = (bitwarden "item" "CHEZMOI_FULL_NAME").login.username -}}
  {{- $bw_session = (bitwarden "item" "CHEZMOI_BW_SESSION").login.password -}}
  {{- $gh_token = (bitwarden "item" "CHEZMOI_GITHUB_TOKEN").login.password -}}
  {{- $gg_token = (bitwarden "item" "CHEZMOI_GITGUARDIAN_API_KEY").login.password -}}
  {{- $openai_key = (bitwarden "item" "CHEZMOI_OPENAI_API_KEY").login.password -}}
  {{- $gpg_recipient = (bitwarden "item" "CHEZMOI_GPG_RECIPIENT").login.password -}}
  {{- $gpg_sign = (bitwarden "item" "CHEZMOI_GPG_SIGN").login.password -}}
  {{- $gpg_encrypt = (bitwarden "item" "CHEZMOI_GPG_ENCRYPT").login.password -}}
  {{- $key_sign = (bitwarden "item" "CHEZMOI_GPG_KEY").login.password -}}
{{- else -}}
  {{- $email = promptStringOnce . "email" "Email" -}}
  {{- $full_name = promptStringOnce . "full_name" "Full name" -}}
  {{- $gh_token = promptStringOnce . "gh_token" "GitHub Token" -}}
  {{- $gg_token = promptStringOnce . "gg_token" "GitGuardian Token" -}}
  {{- $openai_key = promptStringOnce . "openai_key" "OpenAI Key" -}}
  {{- $hasGUI = promptBoolOnce . "hasGUI" "Use a GUI" -}}
{{- end -}}

{{- if $personal }}
encryption = "age"
[age]
    identity = "~/.config/rootiest/age/key.txt"
    recipient = "age1t2zvkztt5xkf6mua0mnywravlkk2h5xjrtnzyxxxn263dcx8u99qpt5ja5"
{{ end -}}
[data]
    name = {{ $username | quote }}
    full_name = {{ $full_name | quote }}
    email = {{ $email | quote }}
    personal = {{ $personal }}
    hasgui = {{ $hasGUI }}
    editor = "nvim"
    bw_session = {{ $bw_session | quote }}
    openai_api_key = {{ $openai_key | quote }}
    gh_token = {{ $gh_token | quote }}
    gg_token = {{ $gg_token | quote }}
    gpg_recipient = {{ $gpg_recipient | quote }}
    gpg_sign = {{ $gpg_sign | quote }}
    gpg_encrypt = {{ $gpg_encrypt | quote }}
    key_sign = {{ $key_sign | quote }}
