[submodule "home/dot_config/fish"]
	path = home/dot_config/fish
  url = https://github.com/rootiest/rootiest-fish.git
[submodule "home/dot_config/nvim"]
	path = home/dot_config/nvim
  url = https://github.com/rootiest/rootiest-nvim.git
[submodule "home/dot_config/kitty"]
	path = home/dot_config/kitty
	url = https://github.com/rootiest/rootiest-kitty.git
