{{ if eq .chezmoi.osRelease.id "debian" }}
#!/bin/sh
{{ range .packages.debian.apt -}}
sudo apt install {{ . | quote }}
{{ end -}}
{{ else if eq .chezmoi.osRelease.id "arch" }}
#!/bin/sh
{{ range .packages.arch.pacman -}}
sudo pacman -S {{ . | quote }}
{{ end -}}
{{ else if eq .chezmoi.osRelease.id "endeavoros" }}
#!/bin/sh
{{ range .packages.arch.pacman -}}
sudo pacman -S {{ . | quote }}
{{ end -}}
{{ end }}