#!{{ lookPath "bash" }}

set -o errexit

cyan="\033[0;96m"
white="\033[0;97m"
endc="\033[0m"

msg() {
  echo "$cyan--------------------------------------------------$endc"
  echo "$cyan-->$white $1 $endc"
  echo ""
}

bye() {
  echo ""
  echo "$cyan-->$white End for $0 $endc"
  echo "$cyan--------------------------------------------------$endc"
}

msg "Execute $0..."

{{ if eq .chezmoi.osRelease.id "arch" }}

  . {{ .chezmoi.sourceDir }}/scripts/archlinux.sh $args

{{ else if eq .chezmoi.osRelease.id "debian" }}

  sh {{ .chezmoi.sourceDir }}/scripts/debian.sh $args

{{ else if eq .chezmoi.osRelease.id "ubuntu" }}

  sh {{ .chezmoi.sourceDir }}/scripts/debian.sh $args

{{ end -}}

echo "Install themes..."

curl -LsSO "https://raw.githubusercontent.com/catppuccin/gtk/v1.0.3/install.py"
python3 install.py {{ .catFlavor }} {{ .catAccent }}

echo "Done."

echo "Install oh-my-fish..."

curl https://raw.githubusercontent.com/oh-my-fish/oh-my-fish/master/bin/install > install
fish install --noninteractive --yes

echo "Done."

echo "Install AppImages..."

if [ ! -d $HOME/AppImages ]; then
  mkdir $HOME/AppImages/
fi

orca_version=$(curl -Ls https://api.github.com/repos/SoftFever/OrcaSlicer/releases/latest | sed 's/[()",{} ]/\n/g' | grep -oi "https.*linux.*mage$" | head -1)
wget -q -o $HOME/AppImages/OrcaSlicer.AppImage $orca_version

via_version=$(curl -Ls https://api.github.com/repos/the-via/releases/releases/latest | sed 's/[()",{} ]/\n/g' | grep -oi "https.*linux.*mage$" | head -1)
wget -q -o $HOME/AppImages/Via.AppImage $via_version

balena_version=$(curl -Ls https://api.github.com/repos/balena-io/etcher/releases/latest | sed 's/[()",{} ]/\n/g' | grep -oi "https.*.*mage$" | head -1)
wget -q -o $HOME/AppImages/BalenaEtcher.AppImage $balena_version

echo "Done."

exit 0

trap bye EXIT

