#!{{ lookPath "bash" }}

export CHEZMOI_USER="{{ .name }}"
export CHEZMOI_FULL_NAME="{{ .full_name }}"
export CHEZMOI_EMAIL="{{ .email }}"
export CHEZMOI_GPG_RECIPIENT="{{ .gpg_recipient }}"
export CHEZMOI_GPG_SIGN="{{ .gpg_sign }}"
export CHEZMOI_GPG_ENCRYPT="{{ .gpg_encrypt }}"
export CHEZMOI_KEY_SIGN="{{ .key_sign }}"

### Set keys and tokens ###
export OPENAI_API_KEY="{{ .openai_api_key }}"
export BW_SESSION="{{ .bw_session }}"
export GH_TOKEN="{{ .gh_token }}"
export GITGUARDIAN_API_KEY="{{ .gg_token }}"