{
  "version": "0.2",
  "ignorePaths": [],
  "dictionaryDefinitions": [],
  "dictionaries": [],
  "words": [
    "ADXL",
    "Catppuccin",
    "Cattppuccin",
    "copystriked",
    "Cura",
    "distros",
    "dotfiles",
    "EEPROM",
    "Fluidd",
    "gcode",
    "Klipper",
    "Laprade",
    "leds",
    "microcontroller",
    "mooncord",
    "Numpad",
    "nvim",
    "oled",
    "Pico",
    "PREONIC",
    "Prusa",
    "QTPY",
    "RGBW",
    "rootiest",
    "Sensorless",
    "TILD",
    "toolboard",
    "Voron",
    "WASD",
    "WLED",
    "fullscreen",
    "vsicons",
    "Iosevka",
    "Monaspice",
    "Monaspace",
    "vsintellicode",
    "darcula",
    "gitmoji",
    "autofetch",
    "zippyprint",
    "sshfs",
    "blurple",
    "vscodevim",
    "foldfix",
    "visualblock",
    "visualline",
  ],
  "ignoreWords": [],
  "import": []
}
