{
  "workbench.colorTheme": "Catppuccin Frappé",
  "workbench.iconTheme": "catppuccin-frappe",
  "workbench.colorCustomizations": {
    "editorCursor.foreground": "#00ff95",
    "statusBar.background": "#8aa8f3",
    "statusBar.noFolderBackground": "#8aa8f3",
    "statusBar.debuggingBackground": "#8aa8f3",
    "statusBar.foreground": "#292b3e",
    "statusBar.debuggingForeground": "#292b3e"
  },
  "window.restoreFullscreen": true,
  "window.restoreWindows": "all",
  "window.newWindowDimensions": "maximized",
  "explorer.sortOrder": "modified",
  "[python]": {
    "editor.defaultFormatter": "ms-python.python",
    "editor.formatOnSave": true
  },
  "pythonIndent.useTabOnHangingIndent": true,
  "python-coding-tools.update-module-variable.dateTimeFmt": "YYYY-MM-DD HH:mm:ss.SSS",
  "git.enableSmartCommit": true,
  "git.confirmSync": false,
  "color-highlight.markerType": "outline",
  "color-highlight.matchWords": true,
  "explorer.confirmDragAndDrop": false,
  "vsicons.presets.angular": true,
  "vsicons.presets.hideExplorerArrows": true,
  "vsicons.projectDetection.autoReload": true,
  "terminal.integrated.copyOnSelection": true,
  "terminal.integrated.cursorBlinking": true,
  "editor.fontLigatures": true,
  "editor.suggest.localityBonus": true,
  "files.autoGuessEncoding": true,
  "editor.cursorBlinking": "expand",
  "editor.cursorSmoothCaretAnimation": "on",
  "editor.cursorStyle": "block",
  "editor.fontFamily": "Iosevka Nerd Font, MonaspiceKr Nerd Font",
  "editor.suggestSelection": "first",
  "vsintellicode.modify.editor.suggestSelection": "automaticallyOverrodeDefaultValue",
  "[jsonc]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[markdown]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[json]": {
    "editor.defaultFormatter": "vscode.json-language-features"
  },
  "markdown-preview-enhanced.mermaidTheme": "dark",
  "markdown-preview-enhanced.previewTheme": "github-dark.css",
  "markdown-preview-enhanced.codeBlockTheme": "darcula.css",
  "gitlens.blame.toggleMode": "window",
  "gitlens.heatmap.toggleMode": "window",
  "gitmoji.emojiSyntax": "unicode",
  "editor.lineHeight": 0,
  "editor.fontSize": 16,
  "vsicons.dontShowNewVersionMessage": true,
  "git.autofetch": true,
  "markdown-preview-enhanced.revealjsTheme": "black.css",
  "markdown.extension.print.theme": "dark",
  "markdown-preview-enhanced.printBackground": true,
  "gitlens.blame.dateFormat": "",
  "files.autoSave": "onFocusChange",
  "prettier.endOfLine": "auto",
  "zenMode.restore": true,
  "python.languageServer": "Pylance",
  "workbench.preferredDarkColorTheme": "Catppuccin Frappé",
  "bookmarks.sideBar.expanded": true,
  "workbench.editorAssociations": {
    "*.ipynb": "jupyter-notebook"
  },
  "workbench.productIconTheme": "material-product-icons",
  "python.analysis.completeFunctionParens": true,
  "files.exclude": {
    "**/.classpath": true,
    "**/.project": true,
    "**/.settings": true,
    "**/.factorypath": true
  },
  "licenser.author": "{{ .full_name }} ({{ .email }})",
  "licenser.customHeader": "-*- coding: utf-8 -*-",
  "licenser.license": "AGPLv3",
  "window.autoDetectColorScheme": true,
  "notebook.cellToolbarLocation": {
    "default": "right",
    "jupyter-notebook": "left"
  },
  "[c]": {
    "editor.defaultFormatter": "ms-vscode.cpptools"
  },
  "prettier.trailingComma": "all",
  "redhat.telemetry.enabled": false,
  "security.workspace.trust.untrustedFiles": "open",
  "editor.codeActionsOnSave": {},
  "markdownlint.focusMode": true,
  "editor.formatOnSave": true,
  "workbench.startupEditor": "none",
  "cmake.configureOnOpen": true,
  "remote.SSH.remotePlatform": {
    "zippyprint": "linux",
    "hephaestus": "linux",
    "aws-discord": "linux"
  },
  "editor.largeFileOptimizations": false,
  "diffEditor.ignoreTrimWhitespace": false,
  "git.ignoreRebaseWarning": true,
  "editor.accessibilitySupport": "off",
  "editor.stickyTabStops": true,
  "editor.guides.bracketPairs": true,
  "editor.inlineSuggest.enabled": true,
  "licenser.projectName": "{{ .name }}",
  "editor.tokenColorCustomizations": {
    "textMateRules": [
      {
        "name": "comment",
        "scope": ["comment"],
        "settings": {
          "fontStyle": "italic"
        }
      },
      {
        "name": "Variable",
        "scope": ["variable.language", "string.other.link.title.markdown"],
        "settings": {
          "fontStyle": "italic"
        }
      },
      {
        "name": "Keyword Storage",
        "settings": {
          "fontStyle": "italic"
        }
      },
      {
        "name": "Entity",
        "scope": ["entity.other.attribute-name", "entity.name.method"],
        "settings": {
          "fontStyle": "italic"
        }
      }
    ]
  },
  "files.associations": {
    "*.cfg": "klipper-cfg",
    "*.gcode": "klipper-gcode"
  },
  "editor.formatOnType": true,
  "pylint.showNotifications": "always",
  "githubPullRequests.pullBranch": "never",
  "gitlens.gitCommands.skipConfirmations": [
    "fetch:command",
    "switch:command",
    "stash-push:command"
  ],
  "commentAnchors.tags.anchors": {
    "ANCHOR": {
      "iconColor": "default",
      "highlightColor": "#A8C023",
      "scope": "file"
    },
    "TODO": {
      "iconColor": "blue",
      "highlightColor": "#3ea8ff",
      "scope": "workspace"
    },
    "FIXME": {
      "iconColor": "red",
      "highlightColor": "#F44336",
      "scope": "workspace"
    },
    "STUB": {
      "iconColor": "purple",
      "highlightColor": "#BA68C8",
      "scope": "file"
    },
    "NOTE": {
      "iconColor": "orange",
      "highlightColor": "#FFB300",
      "scope": "file"
    },
    "REVIEW": {
      "iconColor": "green",
      "highlightColor": "#64DD17",
      "scope": "workspace"
    },
    "SECTION": {
      "iconColor": "blurple",
      "highlightColor": "#896afc",
      "scope": "workspace",
      "behavior": "region"
    },
    "LINK": {
      "iconColor": "#2ecc71",
      "highlightColor": "#2ecc71",
      "scope": "workspace",
      "behavior": "link"
    }
  },
  "accessibility.signals.terminalBell": {
    "sound": "on"
  },
  "terminal.integrated.enableVisualBell": true,
  "terminal.integrated.fontFamily": "Iosevka Nerd Font, MonaspiceKr Nerd Font",
  "git.openRepositoryInParentFolders": "never",
  "githubPullRequests.createOnPublishBranch": "never",
  "sshfs.configs": [
    {
      "name": "hephaestus",
      "host": "hephaestus",
      "root": "/home/pi/printer_data/config",
      "username": "pi"
    }
  ],
  "terminal.external.linuxExec": "xterm-kitty",
  "terminal.integrated.fontSize": 15,
  "codeium.enableConfig": {
    "*": true,
    "klipper-cfg": true,
    "markdown": true
  },
  "vim.easymotion": true,
  "vim.incsearch": true,
  "vim.useSystemClipboard": true,
  "vim.useCtrlKeys": true,
  "vim.hlsearch": true,
  "vim.insertModeKeyBindings": [
    {
      "before": ["j", "j"],
      "after": ["<Esc>"]
    }
  ],
  "vim.normalModeKeyBindingsNonRecursive": [
    {
      "before": ["<leader>", "d"],
      "after": ["d", "d"]
    },
    {
      "before": ["<C-n>"],
      "commands": [":nohl"]
    },
    {
      "before": ["K"],
      "commands": ["lineBreakInsert"],
      "silent": true
    }
  ],
  "vim.leader": "<space>",
  "vim.handleKeys": {
    "<C-a>": false,
    "<C-f>": false
  },
  "extensions.experimental.affinity": {
    "vscodevim.vim": 1,
    "asvetliakov.vscode-neovim": 1
  },
  "vim.camelCaseMotion.enable": true,
  "vim.enableNeovim": true,
  "vim.replaceWithRegister": true,
  "vim.sneak": true,
  "vim.statusBarColorControl": true,
  "vim.cursorStylePerMode.insert": "line",
  "vim.cursorStylePerMode.normal": "block",
  "vim.cursorStylePerMode.replace": "block-outline",
  "vim.cursorStylePerMode.visual": "underline",
  "vim.cursorStylePerMode.visualblock": "block-outline",
  "vim.cursorStylePerMode.visualline": "line-thin",
  "vim.neovimConfigPath": "~/.config/nvim/init.lua",
  "vim.neovimPath": "/usr/bin/nvim",
  "vim.neovimUseConfigFile": true,
  "vim.foldfix": true,
  "vim.highlightedyank.enable": true,
  "vim.showMarksInGutter": true,
  "vim.smartRelativeLine": true,
  "vim.visualstar": true,
  "slack.username": "{{ .name }}",
  "open-in-vim.openMethod": "kitty",
  "open-in-vim.useNeovim": true,
  "open-in-vim.restoreCursorAfterVim": true,
  "vim.disableExtension": false,
  "catppuccin.bracketMode": "neovim",
  "grunt.autoDetect": "on",
  "editor.tabSize": 2,
  "vim.statusBarColors.normal": ["#8aa8f3", "#292b3e"],
  "vim.statusBarColors.insert": ["#9bd482", "#292b3e"],
  "vim.statusBarColors.visual": ["#d298eb", "#292b3e"],
  "vim.statusBarColors.replace": ["#f27b83", "#292b3e"],
  "vim.statusBarColors.visualblock": ["#d298eb", "#292b3e"],
  "vim.statusBarColors.visualline": ["#d298eb", "#292b3e"]
}
