### Set chezmoi data ###
set -gx CHEZMOI_USER "{{ .name }}"
set -gx CHEZMOI_FULL_NAME "{{ .full_name }}"
set -gx CHEZMOI_EMAIL "{{ .email }}"
set -gx CHEZMOI_GPG_RECIPIENT "{{ .gpg_recipient }}"
set -gx CHEZMOI_GPG_SIGN "{{ .gpg_sign }}"
set -gx CHEZMOI_GPG_ENCRYPT "{{ .gpg_encrypt }}"
set -gx CHEZMOI_KEY_SIGN "{{ .key_sign }}"

### Set keys and tokens ###
set -gx OPENAI_API_KEY "{{ .openai_api_key }}"
set -gx BW_SESSION "{{ .bw_session }}"
set -gx GH_TOKEN "{{ .gh_token }}"
set -gx GITGUARDIAN_API_KEY "{{ .gg_token }}"

### Load user secrets ###
source $HOME/.config/$USER/fish/secrets.fish
